{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index (1).css'%}">
</head>
<body>
    <!-- <div class="background_layer"></div> -->
    <div class="background_layer">
        <div id="sidebar">
            <div class="container" onclick ="show(); menufunc(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <ul style="font-family: 'Homemade Apple', cursive; font-size: 2rem;">
                <li><a style="text-decoration: none" href="./">HOME</a></li>
                <li><a style="text-decoration: none" href="{% url 'group' %}">GROUP</a></li>
                <li><a style="text-decoration: none" href="{% url 'member' %}">MEMBERS</a></li>
                <li><a style="text-decoration: none" href="">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="contain_member">
        <h1>H1</h1>
        <div class="card_container_only">
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <div class="card_container">
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------------------------------------- -->

        <div class="card_container">
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------- -->

        <div class="card_container">
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h2><b>John Doe</b></h2>
                <p></p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------- -->

        <div class="card_container">
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="image1 (2).jpeg" alt="Avatar" style="width:100%">
                <div class="container_member">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        function show() {
            document.getElementById('sidebar').classList.toggle('active');
        }
        function menufunc(x) {
            x.classList.toggle("change");
        }
    </script>
</body>
</html>